/* src/pages/LandingPage.css */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/1227256185753833612.webp'); /* Asegúrate de ajustar la ruta a tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.enter-button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #ff00ff, #72e3b0); /* Degradado de fucsia a verde */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-top: 20px;
}

.enter-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.enter-button:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}