/* src/components/SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar .search-icon {
    width: 150px; /* Aumenta el tamaño del ícono */
    height: 150px; /* Aumenta el tamaño del ícono */
    background-image: url('../assets/ai-generated-cute-dog-and-dog-food-3d-design-suitable-for-petshop-and-design-elements-free-png.webp'); /* Ruta a la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .search-bar input {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0); /* Degradado de gris claro a gris */
    border: none;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    outline: none;
    margin: 4px 2px;
  }
  
  .search-bar input:focus {
    background: linear-gradient(135deg, #ffffff, #dddddd); /* Cambia el degradado al enfocar */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
  
  .search-bar button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #ff00ff, #72e3b0); /* Degradado de fucsia a verde */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 4px 2px;
  }
  
  .search-bar button:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
  
  .search-bar button:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .search-bar button[type="button"] {
    background: linear-gradient(135deg, #6c757d, #5a6268); /* Degradado de gris a gris oscuro */
  }
  
  .search-bar button[type="button"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
  
  .search-bar button[type="button"]:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }